.App {
  text-align: center;
  background-size: 100%;
  color: white;
  font-family: monospace;
}

body {
  background-image: url("https://www.xtrafondos.com/wallpapers/morty-siendo-atacado-4727.jpg");
  background-size: 100%;
  height: 100%;
  width: 100%;
}
